<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5f98e371de.js" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>{% block title_block %} Blogs {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="container-fluid">
                    <a class="nav-item-active" href="{% url 'Index' %}"><img src="/media/profile_pics/logo.png" width="50px" class="rounded-circle"></a>
                </div>
            </li>
            {% if user.is_authenticated %}
            <div class=" dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    @{{ user.username }}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'App_Blog:create_blog' %}">Write Your Blog</a>
                    <a class="dropdown-item" href="{% url 'App_Blog:my_blogs' %}">My Blogs</a>
                    <a class="dropdown-item" href="{% url 'App_login:profile' %}">Your Profile</a>
                    <br>
                    <a class="dropdown-item" href="{% url 'App_login:logout' %}">Logout</a>
                </div>
            </div>
            {% else %}

            <li class="nav-item">
                <div class="container-fluid">
                    <a class="nav-item-active" href="{% url 'App_login:signup' %}">Sign Up</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="container-fluid">
                    <a class="nav-item-active" href="{% url 'App_login:login' %}">Login</a>
                </div>
            </li>
            {% endif %}

        </ul>
    </nav>
    <div class="container" style="padding-top: 20px">
        {% block body_block %}

        {% endblock %}
    </div>

</body>
</html>